@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


@media screen and (max-width: 1440px) {
  

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 100%, 99%);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 2cm;
    padding-bottom: 2cm;
    padding-left: 6cm;
}

.main {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    float: left;
    

}
.page {
    padding: 3rem 3rem 3.9rem 3rem;
    
}

img {
    margin-bottom: 2rem;
    margin-right: 8rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    text-align: left;
}

p {
    margin-bottom: 2.5rem;
    line-height: 1.6rem;
    font-family: "Lexend Deca";
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
    font-size: 300;
}

.learn_more {
    background-color: hsl(0, 0%, 95%);
    padding: 0.9rem 2rem;
    text-decoration: none;
    font-family: "Lexend Deca";
    border-radius: 35px;
}

.page1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}
.page1 .learn_more {
    color: hsl(31, 77%, 52%);
}

.page2 .learn_more {
    color: hsl(31, 77%, 52%);
}

.page2 {
    background-color: hsl(184, 100%, 22%);
}

.page2 .learn_more {
    color: hsl(184, 100%, 22%);
}

.page3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.page3 .learn_more {
    color: hsl(179, 100%, 13%);
}

.learn_more:hover {
    background-color: initial;
    color: white;
    border: 2px solid white;
}
}


@media only screen and (max-width: 375px){

  main {
    width: 100%;
    max-width: 920px;
    display: flex;
}

p {
    margin-bottom: 6.1rem;
}

.page1 {
    border-radius: 10px 0 0 10px;
}

.page3 {
    border-radius: 0 10px 10px 0;
}
}